[package]
name = "node"
version = "0.1.0"
edition = "2024"

[dependencies]
cortex-m = "0.7.7"
cortex-m-rt = "0.7.5"
panic-halt = "1.0.0"
stm32l4xx-hal = { version = "0.7.1", features = ["stm32l4r9", "rt"] }

[profile.release]
codegen-units = 1
debug = false
lto = true
opt-level = "s"
